body {
  background-image: url('/images/202411012aklmg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-inner {
  background: rgba(255, 255, 255, 0.45); // 白色背景，80% 不透明度
}
.content-wrap {
  background: rgba(255, 255, 255, 0.50); // 白色背景，80% 不透明度
}
